﻿@charset 'utf-8';

@import url(https://fonts.googleapis.com/css?family=Raleway:200,400);
/*@import url(https://fonts.googleapis.com/css?family=Dosis:200);*/
@import url(https://fonts.googleapis.com/css?family=Dosis:200,400);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

$raleway: 'Raleway', sans-serif;
$dosis: 'Dosis', sans-serif;
$robotocon: 'Roboto Condensed', sans-serif;
$bluepat: #009EE3;
$grey: #828C99;
$white: #F0F0F1;

.grayscale {
     filter: grayscale(80%);
}

//********************** ESTOS ESTILOS ESTABAN APLICADOS PARA HACER PARALLAX EN LA DEMO DEL SITIO DE SCROLL MAGIC ************************//

  .parallaxParent {
    height: 100vh;
    overflow: hidden;

    > * {
    height: 200%;
    position: relative;
    top: -100%;
    }
  }

/********************** ESTO ES UNA FORMA DE ALINEAR ELEMENTOS - A PROBAR **********************************/

@mixin VerticalAlign(){
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; width: .1px;
  }
}



/************* Estilos en Común de todos los titles ********************/

%titleStyle{
  padding: 0.8rem;
  color: $white;
  background-color: #000;
  max-width: 350px; 
  line-height: 2.5rem; 
  letter-spacing: 2px;
}


%botonStyle {
  color: $white;
  border: 2px solid #eee;
  padding: 0 1rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 2rem .5rem;
  width: 25%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; 
  height: 2.8rem;
}

/************* Effect on Titles - El efecto seleccionado es ARBITRARIO DE PRUEBA!! ********************/

.link {
  outline: none;
  position: relative;
  display: inline-block;
}

%aux {
  content: '';
  width: 100%;
  height: 2px;
  z-index: 1000;
  background: $white;
  position: absolute;
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

%auxSpan {
    position: absolute;
    color: $bluepat;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
    transition: transform 0.6s, opacity 0.6s;
}

.link--surinami {
  
  &::after {
      @extend %aux;
      left: 0;
      bottom: 0;
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;    
  }
  &::before {
    @extend %aux;
    right: 0;
    top: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }

  &:hover::before {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
  &:hover::after {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);

  }

  span {
    position: relative;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }

  &:hover span {
    color: transparent;
  }
  span::before {
    @extend %auxSpan;
    content: attr(data-letters-l);
    left: 0;
    -webkit-transform: translate3d(-15px,0,0);
    transform: translate3d(-15px,0,0);
   }
   span::after {
      @extend %auxSpan;
       content: attr(data-letters-r);
       right: 0;
       -webkit-transform: translate3d(15px,0,0);
       transform: translate3d(15px,0,0);
    }

  &:hover span::before, &:hover span::after {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);    
  }

}




/****************************** MATERIAL DESIGN SHADOWS ****************************************/


 @mixin BoxShadowHelper($height){
    @if $height == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    @if $height == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    @if $height == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    @if $height == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    @if $height == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
  }






/*********************** PRINCIPALES *********************************/

body {
	background: #EEE;
}

.columns {
  padding: 0;
}

a img {
  border: none;
}

section {

  height: 100vh;
  position: relative;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
//    opacity: .8;
  }

  // Hero homepage
  &.home {
    background: url('../img/blur.png') no-repeat center center;
    height: 120vh;

    #mano-home {
      @include horizontal-center();
      bottom: 120px;
      margin-left: 12rem;
    }

    .intro {
      padding: 3rem;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    h1 {
      color: $white;
      font-family: $font-family-secondary;
      font-size: 2.5rem;
      line-height: 2.5em;
      letter-spacing: 0.075em;
      font-weight: 300;
      text-align: left;
    }

    @media only screen and (min-width: 60.063em) {
      h1 {
        font-size: 4.5rem;
      }
    }

    @include breakpoint(large only) {
      #mano-home {
        bottom: 140px;
        margin-left:6rem;
      }
    }
    @include breakpoint(medium only) {
      #mano-home {
        bottom: 140px;
        margin-left: 0;
      }
    }
    @include breakpoint(small only) {
      #mano-home {
        bottom: 165px;
        margin-left: 0;
      }
    }
  }

  // Our values
  &.our-values {
          background: #d5dce4 url('../img/values_bg.jpg') no-repeat center top;
  }
 
  &.work {
    background: white;
    height: 70vh;
   }

   &.team {
          background: #DDE5EC url('../img/Team-bg.png') no-repeat center top;
          background-size: cover;
   }

   &.contact {
          background: #DDE5EC url('../img/Contact-bg.png') no-repeat center top;
          background-size: cover;
   }

   &.footer {
          background: #1b3654;
          height: 70vh;
   }

  @media only screen and (max-width: 66em) {
      .row {
        max-width: 100%;
      }
  }   

  @media only screen and (max-width: 64em) { 
      &.our-values { height: 180vh; }
      &.stats { height: 123vh;}  
      &.work { height: 60vh; }
  }
  
  @media only screen and (max-width: 54em) {   
      &.work { height: 55vh; }
      &.stats { height: 120vh;}  
  }

  @media only screen and (max-width: 44em) {   
      &.work { 
        height: 61vh; 
      }
      &.our-values { 
        height: 205vh; 
      }
      &.stats { height: 124vh; }  
  }
  
  @media only screen and (max-width: 28em) {   
      &.work { 
        height: 200vh; 
      }
      &.our-values { height: 215vh; }      
  }

   &.stats {
    background: url('../img/stats_bg.jpg') no-repeat center top;
   }

   &.map {      
      background: $bluepat; /* Old browsers */
      background: -moz-linear-gradient(top,  #4bbdcc 0%, #91c6ce 35%, #f4f4f4 83%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #4bbdcc 0%,#91c6ce 35%,#f4f4f4 83%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #4bbdcc 0%,#91c6ce 35%,#f4f4f4 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bbdcc', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
   }
 }
 
 #values-container { 
   max-width: 62rem; margin: auto; min-height: 70rem;
 } 
 
 #work-container {
   /*@extend #values-container;*/
   max-width: 62rem; margin: auto; min-height: 45rem;
  }
  #stats-container {
   /*@extend #work-container;*/
   max-width: 62rem; margin: auto; min-height: 70rem;
  }


// Identificators (mostly for animation and customization purposes)


h1#making-it-happen {
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;

  @include breakpoint(small only) {
    top: 40%;
  }
}
div#who-we-are-text {
  background: $white;
  text-align: center;
  padding: 3rem 5rem;
  margin-top: 100px;
  margin-bottom: 20px;
  opacity: 0.1;
}

div#stats-links {
  position: relative;
  background: $white;
  text-align: center;
  padding: 3rem 4rem;
  margin-top: 50px;
  opacity: 0.1; 

  #download-text {
    z-index: 9999;
    margin-bottom: 1.4rem;
  }
}

@include breakpoint(small only) { 
  div#stats-links {
    padding: 1rem;
  }
}

div#values-container {
  text-align: center;

  #our-values-title {
    margin: .5rem auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @extend %titleStyle;       

    h2 {
      opacity: 0.01;
      margin-bottom: 0rem;
      font-family: $dosis;      
    }    
  }

  .value {
   margin-top: 10px;
   max-width: 80%;
   left: 50%;
   padding: 0.9375rem;
  }

  h3 {
    font-family: $dosis;
    font-weight: 400;
  }

  @include breakpoint(large) {
      #line { 
        margin: auto;
        border-left: 2px dotted #000;
        height: 68%;        
        @include horizontal-center(); 
        left: 50%!important;
        top: 250px;
        z-index: 1;
      }
      
  }

  @include breakpoint(medium only) {
    section.our-values { height: 280vh; }
      .rel { 
        position: relative;
        min-height: 18.5rem;
      }

      .value { 
        width: 80%; 
        float: none; 
        @include horizontal-center();
        > img {
          margin-bottom: 10px;
          margin-top: 8px;
        }
      }

      h3 {
        font-size: 2rem;
      }

      .vline-small { 
        border-left: 3px dotted #000;
        @include horizontal-center();
        height: 28%;     
        top: -65px;
        z-index: -5;   
      }
  }

    @include breakpoint(small only) {
      .value { 
        width: 80%; 
        float: none; 
        min-height: 300px;
        margin-top: 60px;
        @include horizontal-center();
        > img {
          margin-bottom: 15px;
        }
      }  

      .vline-small { 
        border-left: 3px dotted #000;
        @include horizontal-center();
        height: 22%;     
        top: -75px;
        z-index: -5;   
      }

      /* This class has the only purpose of avoiding overlapping since horizontal-center() mixin uses position:absolute; */ 
      .rel { 
        position: relative;
        min-height: 22rem;
      }
      
  }
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) 
   {
    section.our-values { 
      height: 150vh; 
    }

  }

}




/*** OUR WORK ***/

div#work-container {

  text-align: center;
  z-index: 1;
  position: relative;

  #work-title {
    margin: auto;
    margin-top: -3%;
    margin-bottom: 2rem;
    @extend %titleStyle;  

    h2 {
      opacity: 0.01;
      margin-bottom: 0rem;
      font-family: $dosis;
    }    
  }

  @include breakpoint(large) { 

  }

  @include breakpoint(55em) {
    .work-slider{
      margin-top: 12%;
    } 
  } 

  @include breakpoint(medium only) {
    .work-slider{
      margin-top: 20%;
    }
  } 

  @include breakpoint(small only) {
      #work-title{
        margin-top: -6%;
      }    
    .work-slider{
      margin-top: 30%;
      width: 90%;
    }   
  }
}  

/*** STATS ***/

.statsWhiteText {
    color: #eee;
    display: inline-flex;
    h3 {
      font-size: 4rem;
      font-weight: 500;
      margin-left: 15px;
      margin-right: 15px;
    }
    p {
      font-size: 1.3rem;
      padding-top: 6%;
    }
}

div#stats-container {

  text-align: center;
  z-index: 1;
  position: relative;

  #stats-title {
    margin: auto;
    margin-top: 15%;
    margin-bottom: 6rem;
    @extend %titleStyle;  

    h2 {
      opacity: 0.01;
      margin-bottom: 0rem;
      font-family: $dosis;
    }    
  }

  @include breakpoint(large) {
    #linestats { 
      margin: auto;
      border-left: 2px dotted $white;
      height: 84%;        
      @include horizontal-center(); 
      left: 50%!important;
      top: -300px;
      z-index: -5;
    }      
  } 
  @include breakpoint(medium only) {
    #stats-title {
      top: 0;
      margin-top: 20%;
    }
  }  
  @include breakpoint(small only) {
    #stats-title {
      margin-top: 10%;
    }
  }
}



/*** MAP ***/

#map-container {  
  width: 100%;  
  map {
    &.area:hover {
      background-color: #eee;
    }
  }
  #map {
    width: 88%;
    height: 100vh;
    display: block;
    margin: auto;
    position: relative; 
    padding-left: 14%;
  } 
}



/******* ESTILOS PARA CARROUSEL DE LOGOS DE CLIENTES ***********/
/******* Basado en http://www.jqueryrain.com/?MGTO9JKd ***********/

@include breakpoint(medium) {

.box {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  padding: 2rem;
  cursor: pointer;
  color: #2c3e50;
  box-shadow: inset 0 0 0 4px #3D3F42;
  background: rgba(59, 57, 88, 0.2);
  -webkit-transition: background 0.4s 0.5s;
  transition: background 0.4s 0.5s;

  &:hover {
  background: rgba(255,255,255,0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


  span {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 5px;
  }

  span {
     -webkit-transition: color 0.4s 0.5s;
     transition: color 0.4s 0.5s;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  svg line {
    stroke-width: 4;
    stroke: $bluepat;
    fill: none;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
  }

}

.box:hover {

  span {
    color: $white;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  svg line {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  }

}

.box svg line.top,
.box svg line.bottom {
  stroke-dasharray: 330 240; 
}

.box svg line.left,
.box svg line.right {
  stroke-dasharray: 490 400;
}

.box:hover svg line.top {
  -webkit-transform: translateX(-600px);
  transform: translateX(-600px);
}

.box:hover svg line.bottom {
  -webkit-transform: translateX(600px);
  transform: translateX(600px);
}

.box:hover svg line.left {
  -webkit-transform: translateY(920px);
  transform: translateY(920px);
}

.box:hover svg line.right {
  -webkit-transform: translateY(-920px);
  transform: translateY(-920px);
}

}


/******************************  Customización Slick Slider - CLIENTS *********************************/

.client-item {
  margin: 1rem;
}

@include breakpoint(small only) {
  .box {
    margin: 0;
  }
  .box svg {
    display: none;
  }
  .client-item {
    margin: 1rem;
    border: 3px solid #D7DEE4;
  }

}  


/************************** TEAM **********************************/


div#team-container {

  text-align: center;
  z-index: 1;
  position: relative;

  #team-title {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 4rem;
    @extend %titleStyle;  

    h2 {
      opacity: 0.01;
      margin-bottom: 0rem;
      font-family: $dosis;
    }    
  }
  .marcador {
    width: 100px;
    height: 100px;    
    background: url('../img/logoMarcador.png') no-repeat center top; 
    z-index: 100;
  }


/*************** ESTILOS DE LOS PIN-MARCADORES DE LA IMAGEN DESKTOP *****************/


  .exPopoverContainer {
    width: 9.5rem;
    height: 18rem; 
    position: relative;
    color: #4A4949;
    top: 1.5rem;
    left: -26%;
    border: 5px solid rgba(240, 240, 240, .8);
    @include BoxShadowHelper(3);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

  .popBg {
    background-color: rgba(240, 240, 240, .8);
    width:100%;
    height:100%;
    position:absolute;
  }

  .popBody {
    width:100%;
    height:100%;
    position: relative;
    padding:.5rem;
    h4 {
      font-size: 1rem;
    }
  }

  .popHeadLine {
    clear:both;
    width:100%;
    height:1px;
    background-color:#383737;
    margin:auto;
  }

  .popContentLeft {
    width: 100%;
    float: left;
    font-size: .8rem;
    text-align: center;
    margin-top: 0.4rem;
  }

  .popContentRight {
    width: 60%;
    float: right;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.4rem;
  }

  @include breakpoint(large) {
      #teamline { 
        margin: auto;
        border-left: 2px dotted #000;
        height: 7%;        
        @include horizontal-center(); 
        left: 50%!important;
        top: 0px;
        z-index: 1;
      }
  } 

  @include breakpoint(medium only) {
    .marcador {
      width: 60px;
      height: 60px;
      margin-top: 10px;
    }

    #team-title {
      top: 0;
      margin-top: 6%;
    }

    .exPopoverContainer {
      width: 6rem;
      height: 20rem;
      left: -30%;
      top: 3.5rem;
    }

    .popBody {
      padding:.2rem;
      h4 {
        font-size: .8rem;
      }
    }

  }  

  @include breakpoint(small only) {
    .easypin {
      display: none!important; 
    }
  }  
    /*.marcador {
      width: 40px;
      height: 40px;
    }

    .exPopoverContainer {
      width: 5rem;
      height: 14rem;
      left: -70%;
      top: 3rem;
    }                       


    #team-title {
      margin-top: 10%;
    }
  }*/


  /* -- Estilos para grid de imágenes en Team -- SOLO en breakpoint SMALL --*/


  .grid {
    position: relative;
    margin: auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;


    figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 2%;
        max-width: 480px;
        max-height: 360px;
        width: 46%;
        text-align: center;
        cursor: pointer;

      img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.8;
      }

      figcaption {
        padding: 1.2em;
        color: $white;
        text-transform: uppercase;
        font-size: 1em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      figcaption::before,
      figcaption::after {
          pointer-events: none;
       }

      figcaption, figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      figcaption > a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
      h2 {
        word-spacing: -0.15em;
        font-weight: 200;
        span {
            font-weight: 600;
        }
      }
      p {
        margin: 0;
        letter-spacing: 1px;
        font-size: 68%;
      }


    }
  }  /* -- Cierra .grid -- */



  figure.effect-team {
    background: -webkit-linear-gradient(45deg, $grey 0%, $bluepat 30%, #B98178 100%);
    background: linear-gradient(45deg, $grey 0%, $bluepat 30%,#B98178 100%);
    img {
      opacity: 0.9;
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s;
    }
    figcaption {
      padding: 2em;
      background-color: rgba(58,52,42,0.6);
      -webkit-transition: background-color 0.35s;
      transition: background-color 0.35s;
    }
    figcaption::before {
      position: absolute;
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
      border: 1px solid $white;
      content: '';
    }
    h2 {
      margin: 12% 0;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0,200%,0);
      transform: translate3d(0,200%,0);
    }
    figcaption::before,
    p {
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    &:hover h2 {
      -webkit-transform: translate3d(0,8px,0);
      transform: translate3d(0,8px,0);
    }

    &:hover figcaption::before {
      opacity: 1;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    &:hover p {
      opacity: 1;
      -webkit-transform: scale(.9);
      transform: scale(.9);
    }

    &:hover figcaption {
      background-color: rgba(58,52,42,0);
    }
    &:hover img {
      opacity: 0.4;
    }

    @media all and (max-width: 30em) {
      figcaption {
        padding: 1rem;
      }
      h2 {
        margin: 0;
        font-size: 1.1rem;
      }
      p {
        font-size: .6rem;
        margin-top: 10px;
      }
    }
  }
}  /* -- Cierra div#team-container -- */



/*************** FIN ESTILOS DE LOS PIN-MARCADORES DE LA IMAGEN *****************/



 /******************************** CONTACT **************************/


div#contact-container{

  text-align: center;
  z-index: 1;
  position: relative;

  #contact-title {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 4rem;
    @extend %titleStyle;  

    h2 {
      opacity: 0.01;
      margin-bottom: 0rem;
      font-family: $dosis;
    }    
  }

  #contact-data {
    text-align: left;
    color: $white;
    margin-top: 3rem;
    padding-left: 2rem;

    p {
      margin-bottom: 3rem;
    }
  }

  #contact-mail {
    @extend %botonStyle;
    padding: 1rem;
    margin-left: 0;
  }

  #contact-form {
    .row {
      margin: 0;
    }

    label {
      position: relative;
      display: block;
      margin-top: 10px;
      width: 50%;
      top: 34px;
      left: 48px;
      color: $white;
    }

    input {
      display: inline-block;
      width: 48%;
      border: none;
      box-shadow: none;
      border-bottom: 2px solid #eee;
      background: transparent;
      border-radius: none;   
      padding-left: 10%;   
    }

    #message {
      display: inline-block;
      border: none;
      box-shadow: none;
      border-bottom: 2px solid #eee;
      background: transparent;
      width: 48%;
      max-width: 480px;
      margin: 24px 0 0 -1px;
      padding-left: 12%; 
      resize: none;
    }

    #messageLabel {
      top: 58px;
    }

    #boton-enviar {
      @extend %botonStyle;
      margin-left: 50%;      
     &:hover {
        background-color: $bluepat;
      }
    }
  }


 @include breakpoint(large) {
    #contactline { 
      margin: auto;
      border-left: 2px dotted #000;
      height: 20%;        
      @include horizontal-center(); 
      left: 50%!important;
      top: 0px;
      z-index: 0;
    }
  }

 @include breakpoint(medium only) {
    #contactline { 
      margin: auto;
      border-left: 2px dotted #000;
      height: 15%;        
      @include horizontal-center(); 
      left: 50%!important;
      top: 0px;
      z-index: 0;
    }

    #contact-data {
      text-align: center;
      margin-top: 1rem;
      padding-left: 2rem;
    }

  }

  @include breakpoint(small only) {

    #contactline { 
      margin: auto;
      border-left: 2px dotted #000;
      height: 22%;        
      @include horizontal-center(); 
      left: 50%!important;
      top: 0px;
      z-index: 0;
      top: 1px;
    }

    #contact-data {
      text-align: center;
      margin-top: 3rem;
      padding-left: 2rem;
    }


      #contact-form {
        .row {
          margin: 0;
        }

        label {
          margin-top: 15px;
          width: 20%;
          top: 32px;
          left: 48px;
          color: $white;
        }

        input {
          width: 80%;
          padding-left: 18.9%;  
          line-height: 24px;
        }

        #message {
          width: 79.5%;
          max-width: 430px;
          margin-left: 0;
          padding-left: 22%; 
        }

        #messageLabel {
          top: 58px;
        }

        #boton-enviar {
          margin-left: 30%; 
          width: 40%;     
        }
      }
  }
}

 /******************************** END CONTACT **************************/




 /******************************** FOOTER ******************************/


div#footer-container {
  font-family: $raleway; 
  color: #eee;
  position: relative;

  h4 {
    text-align: center;
    margin: 2rem;
    margin-top: 3rem;
    color: #eee;
    font-family: $dosis;
    font-weight: 200;
  }

  #tweets, #blog, #social {
    text-align: left;
  } 

  #blog {
    font-size: .75rem;
    line-height: 1rem;

    .post-preview {
      max-width: 98%;
      margin: 20px auto;
      border: 1px solid #eee;
      padding: 5px;
      padding-left: 10px;

      h6 {
          font-size: 1.2rem;
          letter-spacing: 1px;
          font-weight: 200;
      }
      a {
        @include BoxShadowHelper(1);
        padding: 5px;
        background: #eee;
        margin: 5px;
        margin-top: 0;
        width: 100px;
        text-align: center; 
        font-size: .8rem;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
         &:hover {
          background-color: $bluepat;
        }
      }
    }  
  }

  #social {
    padding-left: 1.4rem;

    .social-icon {
      @include BoxShadowHelper(1);
      display: inline-block;    
      padding: 3.9rem;
      margin: .5rem;
      margin-top: 0;
      margin-bottom: 1rem;
      background: #102135;
    }
  }
}

/* Copyright está fuera de footer-container*/

#copyright {
  background: #102135;
  position: relative;
  bottom: 0;
  color: #eee;
  text-align: center;
  font-size: .8rem;
  height: 3rem;

  p {
    line-height: 3rem;
    margin: 0 auto;
  }
}



@include breakpoint(large only) { 
  div#footer-container {
    #social {
      padding-left: 1rem;
      .social-icon {        
        display: inline-block;    
        padding: 3rem;
        margin: .5rem;
        margin-top: 0;
        margin-bottom: 1rem;
        background: #102135;
      }
    }
  }  
}


@include breakpoint(medium only) { 
  section.footer {
    height: 100vh;
  }
  div#footer-container {
    #social {
      padding-left: 40px;
      h4 {
        margin-left: -15px;
      }
      .social-icon {
        display: inline-block;    
        padding: 300px / 1020px * 100%;
        margin: .4rem;
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }
  }
}

@media all and (min-width: 43.750em) and (max-width: 55.375em) {
    div#footer-container {
      #social {
        h4 {
          margin-left: -10px;
        }
        .social-icon {
          margin: .2rem;
          padding: 40px / 360px * 100%;
          margin-bottom: 1rem;
        }
      }
    }
}



@include breakpoint(small only) {
    section.footer {
      height: 120vh;
    }

    div#footer-container {
      #social {
        padding-left: 25px;
        .social-icon {
          padding: 20px / 360px * 100%;
          margin: .2rem;         
          @include BoxShadowHelper(2);
        }
      }
    }
}


 /******************************** END FOOTER **************************/



/* ---- particles.js container ---- */

#particles-js {
/*position: absolute;
  width: 100%;
  height: 100%;*/
  background-color: $white;
  background: url('/assets/img/blur.png') no-repeat center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/* ---- End particles.js container ---- */



/* =Scroll Icon -------------------------------------------------------------- */

 #scroll-icon {
	position: fixed;
	display: inline-block;
    float: center; 
	background-color: transparent;
	z-index:1;
 }

 img.scroll
{
    position: absolute;
    max-width: 80%;
    top: 10%;
    left: 10%;
    z-index:1;
}

img.scroll:empty
{
    top: 72%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@include breakpoint(small only) { 
  img.scroll:empty {
    top: 70%;
  }
}

/* - Nav Menu Style -*/
 /* =Header -------------------------------------------------------------- */

header {  
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; 
}
  
  header h1#logo {
    display: inline-block;
    height: 120px;
    line-height: 120px;
	  margin-left: 40px;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: $white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
  }
  
  header nav {
    display: inline-block;
    float: right; 
	  margin-right: 130px;

  }
   
  header nav a {
      line-height: 150px;
      margin-left: 20px;
      color: $white;
      font-weight: 700;
      font-size: 18px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; 
  }
      
  header nav a:hover {
     color: red; 
	 }
  
  header.smaller {
    height: 75px; 	
	}
    
  header.smaller h1#logo { 
    /*display: none;*/
    height: 70px;
    line-height: 70px;
    font-size: 30px; 
  	margin-left: 10px;
  	text-align:center;
  	display: block;
  	float:none
  }

  header.smaller nav { 
	/* Hide menu*/
	display:none;
	}
  
  header.smaller nav a {
    line-height: 70px; 
	}

/*Anchor fix*/

#who-we-are-anchor {
    /*padding-top: 170px;*/
    margin-top: -150px;
}

#our-work-anchor {
    padding-top: 20px;
    margin-top: -110px;
}

header h1#logosmall {
    /*display: none; */
    height: 120px;
    line-height: 120px;
	  margin-left: 40px;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: $white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
	}


	/*header.smaller h1#logosmall { 
	height:25px;
	line-height: 80px;
    height: 70px;
    line-height: 70px;
    font-size: 30px; 
	margin-left: 40px;
	text-align:center;
	display: block;
	float:left}
	*/





/******************************  Customización Slick Slider - WORK *********************************/


.work-slider
{
    margin: 10% auto;
    width: 96%;
}

.slider-item {
    position: relative;
    z-index: 100;
}

.slider-img-wrapper {
    position: relative;
}

.slider-item img {
    width: 99%;
    position: relative;
}

.slider-item-icon {
    bottom: 7%;
    left: 6%;
    position: absolute;
}

.slide-meta {
    text-align: center;
    padding: 5%;
  h3 {
    color: #222;
    font-size: 1rem;
    display: inline;
  }  
  a {
    text-decoration: none;
    color: inherit;
  }
}

.slick-disabled {
    opacity: 0;
}

.slick-prev {
    left: -25px;
}

.slick-next {
    right: -25px;
}

@media all and (max-width: 30em) {
    .slider-item {
        width: 90%;
        float: left;
    }
}

@media all and (max-width: 60em) {
    .work-slider { 
        width: 80%;
    }
    .slick-prev {
        left: -5px;
    }
    .slick-next {
        right: -5px;
    }
}


/****************************** Efecto sobre imagenes de Work slider ******************************/

.slider-img-wrapper  {
  figure {
    margin: 0;
    position: relative;
  }

  figure img {
    max-width: 100%;
    display: block;
    position: relative;
  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: $bluepat;
    color: $white;
    @include BoxShadowHelper(2);

    h4 {
      margin: 0;
      padding: 0;
      color: $white;
    }

    a {
      text-align: center;
      padding: 5px 10px;
      border-radius: 2px;
      display: inline-block;
      background: #9B040E;
      color: $white;
    }
  }
} 

.efecto-figcaption {
  figcaption {
    height: 100%;
    width: 95%;
    opacity: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    z-index: 99999;

    h4 {
      margin-top: 5%;
    }
    span {
      display: block;
    }

    a {
      margin-top: 8%;
    }
  }
}

.no-touch .efecto-figcaption figure:hover figcaption,
.efecto-figcaption figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translate(10px, 10px);
  -moz-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
  
}

@include breakpoint(medium only) {
  .slider-img-wrapper  {
      figcaption {
        h4 {
          margin: 2px;
          margin-top: 14px;
          padding: 0;
          font-size: 1.1rem;
        }
        a {
          padding: 5px;
        }
    }
  } 
}

@include breakpoint(small only) {
  .slider-img-wrapper  {
        figcaption {
          h4 {
            margin: 0;
            padding: 0;
            font-size: .9rem;
          }
          a {
            padding: 5px;
          }
      }
  } 
}

/****************************** END Efecto sobre imagenes de Work slider ******************************/



/* From 480px to 768px */

@media all and (min-width: 30em) and (max-width: 48em) {

}

/* From 768px to 960px */

@media all and (min-width: 48em) and (max-width: 60em) {

}

@media all and (min-width: 60em) and (max-width: 70em) {
    .work-slider { 
        width: 90%;
    }
}





/****************************** Download Buttons Style ******************************/

div.item {
  padding: 0;
  margin: 1.5rem;
  background: #f4f4f4;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;


  @include BoxShadowHelper(1);

  a {
    display: block;
    height: 4rem;
    width: 16rem;
    background: #00b7ea;
    color: white;
    font-family: $raleway;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    line-height: 4rem;

  }
    #corporate {
        background: #1A65C5;
    }

  p {
    @include BoxShadowHelper(2);
    background: #3E3939;
    display: block;
    height: 2.8rem;
    width: 12rem;
    margin: -50px 0 0 34px;
    text-align: center;
    font-family: $raleway;
    color: $white;
    position: absolute;
    z-index: -1; 
    opacity: 0.9;  
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; 
  }

  &:hover {
    @include BoxShadowHelper(3);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: transparent;

    .top {
      margin: -96px 0 0 34px;
      line-height: 2.8rem;
      z-index: 1;
    }

    .bottom {
      margin: -3px 0 0 34px;
      line-height: 2.8rem;
      z-index: 1;
    } 
    a:active .bottom {
      margin: -20px 0 0 10px;
    }
    a:active .top {
      margin: -70px 0 0 10px;
    } 
  }
}

@include breakpoint(small only) {
  div.item {
    margin: 20px 0px;
  }  
}

  /*Adjust Gradient*/
  .item  a:active {
      background: #00b7ea; /* Old browsers */
      background: -moz-linear-gradient(top, #00b7ea 36%, #009ec3 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #00b7ea 36%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #00b7ea 36%,#009ec3 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #00b7ea 36%,#009ec3 100%); /* IE10+ */
     /* background: linear-gradient(top, #00b7ea 36%,#009ec3 100%); /* W3C */
     /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
  }



/* -----------END Download Buttons Style ------------------*/
