

<div class="large-12 columns">
    <section class="home" id="particles-js">
    <img id="mano-home" src="{{root}}assets/img/mano.png" />

        <h1 id="making-it-happen">MAKING IT HAPPEN</h1>

        <img class="scroll" src="../assets/img/scroll.png" />

    </section>
</div>

{{> values}}
{{> work}}
{{> stats}}
{{> map}}
{{> team}}
{{> contact}}
