<div class="large-12 columns">
	<section class="contact" id="contact-anchor">
		<div id="contact-container">
			<div class="row">
			    <span id="contactline"></span>
		        <div id="contact-title">
		            <h2 class="link link--surinami"><span data-letters-l="CON" data-letters-r="TACT">CONTACT</span></h2>
		        </div>
		    </div>

		    <div class="row">
			 	<div class="large-4 small-12 float-left" id="contact-data">
				 	<h4>Have a proyect you would like to discuss?</h4>
				 	<p>Send us a message or contact us through email at:</p>
				 	<span id="contact-mail">info@patagonian.it</span>
			 	</div>
			 	<div class="large-8 small-12 float-right">
					<form id="contact-form">
						<fieldset>
							<div class="row small-12">
								<label for="name">Name</label>
								<input type="text" id="name" name="name"/>

								<span class="clearfix"></span>

								<label for="mail">Email</label>
								<input type="text" id="mail" name="mail"/>

								<span class="clearfix"></span>

								<label for="message" id="messageLabel">Message</label>
								<textarea id="message" name="message"></textarea>
							</div>
						</fieldset>
						<input type="submit" value="Send" id="boton-enviar" action="#"/>
					</form>
			 	</div>
			</div>

		</div>

	</section>
</div>
