<div class="large-12 columns">

	<section class="footer">
		<footer>

			<div id="footer-container">
				<div class="row clearfix">
					<div class="large-4 medium-4 small-12 columns" id="tweets">
						<h4>LATEST TWEETS</h4>
						<div class="single-tweet">
							<img src=""/>							
						</div>
					</div>

					<div class="large-4 medium-4 small-12 columns" id="blog">
						<h4>LATEST BLOG POSTS</h4>
						<div class="post-preview clearfix">
							<h6>Ejemplo de post</h6>
							<p>“Consectetur adipiscing elit. Mauris faucibus placerat tellus, a porttitor est vestibulum ut. Ut eget tellus maximus nunc sollicitudin blandit vitae ut lacus....”</p>
							<a class="float-right" ref="#">VER MAS</a>
						</div>
						<div class="post-preview clearfix">
							<h6>Ejemplo de post</h6>
							<p>“Consectetur adipiscing elit. Mauris faucibus placerat tellus, a porttitor est vestibulum ut. Ut eget tellus maximus nunc sollicitudin blandit vitae ut lacus....”</p>
							<a class="float-right" href="#">VER MAS</a>
						</div>
					</div>

					<div class="large-4 medium-4 small-12 columns" id="social">
						<h4>CONNECT WITH US</h4>
						<div class="social-icon">
							<a target="_blank" href="https://www.youtube.com/watch?v=kkC3chi_ysw"><img src="{{root}}assets/img/twitter.png" ></a>
						</div>
						<div class="social-icon">
							<a target="_blank" href="https://www.youtube.com/watch?v=kkC3chi_ysw"><img src="{{root}}assets/img/facebook.png" ></a>						
						</div>
						<div class="social-icon">
							<a target="_blank" href="https://www.youtube.com/watch?v=kkC3chi_ysw"><img src="{{root}}assets/img/skype.png" ></a>
						</div>
						<div class="social-icon">
							<a target="_blank" href="https://www.youtube.com/watch?v=kkC3chi_ysw"><img src="{{root}}assets/img/linkedin.png"></a>
						</div>
					</div>
				</div> 
			</div>
	 	</footer>
	</section>
	<div id="copyright" class="large-12 columns">
		<p>© PatagonianTech</p>
	</div>
</div>