<div class="large-12 columns">
	
 <section class="map" id="map-anchor">
 	<div id="map-container">
 	<img id="map" src="{{root}}assets/img/map.svg" usemap="#mapa">
	<map name="mapa">
	    <area alt="" title="" href="http://tympanus.net/Tutorials/CaptionHoverEffects/" shape="rect" coords="0,0,500,600"/>
	    <area alt="" title="" href="http://tympanus.net/Tutorials/CaptionHoverEffects/" shape="rect" coords="37,429,55,443" />
	    <area alt="" title="" href="#" shape="rect" coords="56,387,80,397" />
	    <area alt="" title="" href="#" shape="rect" coords="59,159,74,178" />
	    <area alt="" title="" href="#" shape="rect" coords="136,53,155,75" />
	    <area alt="" title="" href="#" shape="rect" coords="57,74,86,88" />
	    <area alt="" title="" href="#" shape="rect" coords="379,80,403,96" />
	    <area alt="" title="" href="#" shape="rect" coords="405,110,425,129" />
	    <area alt="" title="" href="#" shape="rect" coords="372,114,389,139" />
	    <area alt="" title="" href="#" shape="rect" coords="285,135,312,154" />
	    <area alt="" title="" href="#" shape="rect" coords="331,197,345,208" />
	</map>
	 	<!-- 62,409,83,422 -->
 	</div>

 	<div class="large-12 small-12 columns" id="client-slider">
                <div class="slider-item client-item">
                     <div class="box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                            <line class="top" x1="1" y1="1" x2="900" y2="0"/>
                            <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                            <line class="bottom" x1="329" y1="326" x2="-500" y2="326"/>
                            <line class="right" x1="329" y1="0" x2="329" y2="1380"/>
                        </svg>
                    
                    <div class="slider-img-wrapper">                           
                            <a href="#">
                                <img src="{{root}}/assets/img/logoBA.png">   
                            </a>  
                    </div> 
                    </div>           
                </div>                
                <div class="slider-item client-item">
                     <div class="box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                            <line class="top" x1="1" y1="1" x2="900" y2="0"/>
                            <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                            <line class="bottom" x1="329" y1="326" x2="-500" y2="326"/>
                            <line class="right" x1="329" y1="0" x2="329" y2="1380"/>
                        </svg>
                    
                    <div class="slider-img-wrapper">                           
                            <a href="#">
                            	<img src="{{root}}/assets/img/logoBID.png">   
                            </a>  
                    </div> 
                    </div>           
                </div>
                <div class="slider-item client-item">
                     <div class="box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                            <line class="top" x1="1" y1="1" x2="900" y2="0"/>
                            <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                            <line class="bottom" x1="329" y1="326" x2="-500" y2="326"/>
                            <line class="right" x1="329" y1="0" x2="329" y2="1380"/>
                        </svg>
                    
                    <div class="slider-img-wrapper">                           
                            <a href="#">
                                <img src="{{root}}/assets/img/logoBID.png">   
                            </a>  
                    </div> 
                    </div>           
                </div>                
                <div class="slider-item client-item">
                     <div class="box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                            <line class="top" x1="1" y1="1" x2="900" y2="0"/>
                            <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                            <line class="bottom" x1="329" y1="326" x2="-500" y2="326"/>
                            <line class="right" x1="329" y1="0" x2="329" y2="1380"/>
                        </svg>
                    
                    <div class="slider-img-wrapper">                           
                            <a href="#">
                                <img src="{{root}}/assets/img/moov.png">   
                            </a>  
                    </div> 
                    </div>           
                </div>  
                <div class="slider-item client-item">
                     <div class="box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                            <line class="top" x1="1" y1="1" x2="900" y2="0"/>
                            <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                            <line class="bottom" x1="329" y1="326" x2="-500" y2="326"/>
                            <line class="right" x1="329" y1="0" x2="329" y2="1380"/>
                        </svg>
                    
                    <div class="slider-img-wrapper">                           
                            <a href="#">
                                <img src="{{root}}/assets/img/logoBID.png">   
                            </a>  
                    </div> 
                    </div>           
                </div>  
                <div class="slider-item client-item">
                     <div class="box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                            <line class="top" x1="1" y1="1" x2="900" y2="0"/>
                            <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                            <line class="bottom" x1="329" y1="326" x2="-500" y2="326"/>
                            <line class="right" x1="329" y1="0" x2="329" y2="1380"/>
                        </svg>
                    
                    <div class="slider-img-wrapper">                           
                            <a href="#">
                                <img src="{{root}}/assets/img/logoBID.png">   
                            </a>  
                    </div> 
                    </div>           
                </div>   
                <div class="slider-item client-item">
                     <div class="box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                            <line class="top" x1="1" y1="1" x2="900" y2="0"/>
                            <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                            <line class="bottom" x1="329" y1="326" x2="-500" y2="326"/>
                            <line class="right" x1="329" y1="0" x2="329" y2="1380"/>
                        </svg>
                    
                    <div class="slider-img-wrapper">                           
                            <a href="#">
                                <img src="{{root}}/assets/img/logoBID.png">   
                            </a>  
                    </div> 
                    </div>           
                </div>   
                <div class="slider-item client-item">
                     <div class="box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                            <line class="top" x1="1" y1="1" x2="900" y2="0"/>
                            <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                            <line class="bottom" x1="329" y1="326" x2="-500" y2="326"/>
                            <line class="right" x1="329" y1="0" x2="329" y2="1380"/>
                        </svg>
                    
                    <div class="slider-img-wrapper">                           
                            <a href="#">
                                <img src="{{root}}/assets/img/logoBID.png">   
                            </a>  
                    </div> 
                    </div>           
                </div>                                                                                                                                                            
 	</div>
 </section>

</div>