<div id="home-anchor"></div>

    <header>
        <div class="clearfix">
            <h1 id="logo">
                <a id="#home-anchor" href="#home-anchor">
                    <img src="{{root}}assets/img/Logo-main.png" /></a>
            </h1>
            <nav id="navegacion">
                <a href="#home-anchor">Home</a>
                <a href="#who-we-are-anchor">Who We Are</a>
                <a href="#our-work-anchor">Our Work</a>
                <a href="#map-anchor">Our Locations</a>
                <a href="#contact-anchor">Contact Us</a>
            </nav>
        </div>
    </header>
