<div class="large-12 columns">
    <section class="stats">
        <div id="stats-anchor"></div>

        <div class="row">
            <div class="small-12 columns" id="stats-links">
                <p id="download-text">You can download our <strong>Mobile app deck</strong> and our <strong>Corporate deck</strong></p>

                <div class="button item">
                    <a href="#">Mobile deck</a>
                    <p class="top">click to download</p>
                    <p class="bottom">1.2MB .zip</p>
                </div>

                <div class="button item">
                    <a href="#" id="corporate">Corporate deck</a>
                    <p class="top">click to download</p>
                    <p class="bottom">2.2MB .zip</p>
                </div>
            </div>
        </div>

        <div class="row" id="stats-container">
            <div id="stats-title">
                <h2 class="link link--surinami"><span data-letters-l="STA" data-letters-r="TS">STATS</span></h2>
            </div>
            <div class="small-offset-2" id="linestats"></div>
            <div class="row">
                <div class="rel">
                    <div class="small-12 large-6  columns value odd">
                        <span class="hide-for-large vline-small"></span>
                        <div class="statsWhiteText" >
                            <p>Cofee Cup
                                <br />
                                consumed </p>
                            <h3><div class="cofeecounter"></div></h3>

                        </div>
                    </div>
                </div>

                <div class="rel">
                    <div class="small-12 large-6  columns value even">
                        <span class="hide-for-large vline-small"></span>
                        <div class="statsWhiteText">
                            <h3><div class="soccercounter"></div></h3>

                            <p>
                                Soccer Match <br /> Played
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="rel">
                    <div class="small-12 large-6  columns value even ">
                        <span class="hide-for-large vline-small"></span>
                        <div class="statsWhiteText">
                            <p>
                                Barbecues <br /> Made
                            </p>

                            <h3><div class="barbacuecounter"></div></h3>
                        </div>
                    </div>
                </div>

                <div class="rel">
                    <div class="small-12 large-6  columns value odd ">
                        <span class="hide-for-large vline-small"></span>
                        <div class="statsWhiteText">
                            <h3><div class="worldcounter"></div></h3>

                            <p>
                                World Cup <br /> Won
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
