<div class="large-12 columns">
	<section class="team">
        <div id="team-anchor"></div>
        <div class="row" id="team-container">
        	<span id="teamline"></span>
	        <div id="team-title">
	            <h2 class="link link--surinami"><span data-letters-l="TE" data-letters-r="AM">TEAM</span></h2>
	        </div>

	        <img class="pin show-for-medium" src="{{root}}/assets/img/team1.png" width="100%" easypin-id="example_image1" />

			<div style="display:none;" easypin-tpl>
			    <popover>
			       	<div class="exPopoverContainer">
	                <div class="popBg"></div>
	                <div class="popBody">	                    
	                	<img src="{[image_url]}">
	                    <h4>{[title]}</h4>
	                    <div class="popHeadLine"></div>
	                    <div class="popContentLeft">{[description]}</div>
	                    
	                </div>
	            	</div>

			    </popover>

			    <marker>
			        <div class="marcador">&nbsp;</div>
			    </marker>
			</div>



			<!-- SMALL BREAKPOINT ONLY -->

			<div class="grid clearfix show-for-small-only">	
				<figure class="effect-team">
					<img src="{{root}}/assets/img/debo2.jpg" alt="Debo"/>
						<figcaption>
							<h2>Debora <br /> <span>Carrizo</span></h2>
							<p>Proyect Manager</p>
							<a href="#"></a>
						</figcaption>			
					</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>				
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>																								
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>	
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>	
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>
				<figure class="effect-team">
					<img src="{{root}}/assets/img/richard.jpg" alt="Richard"/>
					<figcaption>
						<h2>Ricardo <span>Markiewicz</span></h2>
						<p>TL - Senior Developer</p>
						<a href="#"></a>
					</figcaption>			
				</figure>	
								
			</div>
 		</div> <!-- Team-container -->
	</section>
 </div>