 <div class="large-12 columns">

 <section class="our-values" id="who-we-are-anchor">
    <div class="row">
      <div class="small-12 columns" id="who-we-are-text">
        We are a tech company based out of Patagonia that delivers world class enterprise and mobile
        applications to the world. Our mission is a simple yet powerful statement: "To build great software."
        We do so with passion and a relentless commitment to quality and innovation.
      </div>
    </div>



  <div class="row" id="values-container">
  <div class="large-12"><img src="{{root}}assets/img/Iso_values.png"> </div>
  
    <div id="our-values-title">
        <h2 class="link link--surinami"><span data-letters-l="VAL" data-letters-r="UES">VALUES</span></h2>
    </div>

    <div class="small-offset-2" id="line"></div>

    <div class="row">
      <div class="rel">
          <div class="small-12 large-6  columns value odd">
          <span class="hide-for-large vline-small"></span>
          <img src="{{root}}assets/img/tech.png" />
            <h3>We love tech</h3>
            <p>We live and breath technology. We are early adopting, source contributing,
              gadget investigating, innovative geeks who were bred to keep up with one of
              the most rapidly expanding industries.</p>
          </div>
      </div>
      
      <div class="rel">
        <div class="small-12 large-6  columns value even">
        <span class="hide-for-large vline-small"></span>
        <img src="{{root}}assets/img/agnostic.png">
          <h3>We are agnostic</h3>
          <p>The right tool for the right job: tech stack, engagement mode, methodology,
            everything is flexible. We like to adapt, selecting the elements the project calls for.</p>
        </div>
      </div>
    </div>  

    <div class="row">
      <div class="rel">
        <div class="small-12 large-6  columns value even ">
        <span class="hide-for-large vline-small"></span>
        <img src="{{root}}assets/img/heads.png">
          <h3>We are many heads</h3>
          <p>Our best work is the results of collaborative thinking. We love incubating ideas
            and wearing many hats to make those ideas comprise as many worldviews as possible.</p>
        </div>
      </div>  

      <div class="rel">  
        <div class="small-12 large-6  columns value odd ">
        <span class="hide-for-large vline-small"></span>
        <img src="{{root}}assets/img/care.png">
          <h3>We care. A lot</h3>
          <p>About the environment, about the less fortunate, about our country; we put in place
            policies to contribute to our echosystem, both natural and social.</p>
        </div>
       </div> 
    </div>
  </div>
  </section>


</div>
