<div class="large-12 columns">
    <section class="work">
        <div id="our-work-anchor"></div>
        <div class="row" id="work-container">
            <div id="work-title">
                <h2 class="link link--surinami"><span data-letters-l="WO" data-letters-r="RK">WORK</span></h2>
            </div>


            <!-- Work text-->

            <div class="large-12 columns">
                <p>A selection of Case Studies involving high profile clients who trusted us whit their projects</p>
            </div>

            <!-- // Slider -->
            <div class="work-slider responsive">

                <div class="slider-item">
                        <div class="slider-img-wrapper efecto-figcaption">                            
                        <figure>
                            <img src="http://themarklee.com/wp-content/uploads/2013/12/starlight.jpg" alt="img01">
                            <figcaption>
                                <h4>Un super laburo</h4>
                                <span>Lorem ipsum</span>
                                <a href="http://google.com.ar" target="_blank">+ info</a>
                            </figcaption>
                        </figure>                               
                        </div>
                        <div class="slide-meta">                            
                            <h3>Usamos este titulo igual para navegadores viejos?</h3>
                        </div>
                </div>
                  

                <!-- ////////////////////////////////////////////////// -->
                
                <div class="slider-item">
                        <div class="slider-img-wrapper efecto-figcaption">                            
                        <figure>
                            <img src="http://themarklee.com/wp-content/uploads/2013/12/starlight.jpg" alt="img01">
                            <figcaption>
                                <h4>Un super laburo</h4>
                                <span>Lorem ipsum</span>
                                <a href="http://google.com.ar" target="_blank">+ info</a>
                            </figcaption>
                        </figure>                               
                        </div>
                        <div class="slide-meta">                            
                            <h3>Usamos este titulo igual para navegadores viejos?</h3>
                        </div>                    
                </div> 


                <!-- ////////////////////////////////////////////////// -->     

                <div class="slider-item">
                        <div class="slider-img-wrapper efecto-figcaption">                            
                        <figure>
                            <img src="http://themarklee.com/wp-content/uploads/2013/12/starlight.jpg" alt="img01">
                            <figcaption>
                                <h4>Un super laburo</h4>
                                <span>Lorem ipsum</span>
                                <a href="http://google.com.ar" target="_blank">+ info</a>
                            </figcaption>
                        </figure>                               
                        </div>
                        <div class="slide-meta">                            
                            <h3>Usamos este titulo igual para navegadores viejos?</h3>
                        </div>                    
                </div> 

                <!-- ////////////////////////////////////////////////// -->

                <div class="slider-item">
                        <div class="slider-img-wrapper efecto-figcaption">                            
                        <figure>
                            <img src="http://themarklee.com/wp-content/uploads/2013/12/starlight.jpg" alt="img01">
                            <figcaption>
                                <h4>Un super laburo</h4>
                                <span>Lorem ipsum</span>
                                <a href="http://google.com.ar" target="_blank">+ info</a>
                            </figcaption>
                        </figure>                               
                        </div>
                        <div class="slide-meta">                            
                            <h3>Usamos este titulo igual para navegadores viejos?</h3>
                        </div>                    
                </div>

                <!-- ////////////////////////////////////////////////// -->      

                <div class="slider-item">
                        <div class="slider-img-wrapper efecto-figcaption">                            
                            <figure>
                                <img src="http://themarklee.com/wp-content/uploads/2013/12/starlight.jpg" alt="img01">
                                <figcaption>
                                    <h4>Un super laburo</h4>
                                    <span>Lorem ipsum</span>
                                    <a href="http://google.com.ar" target="_blank">+ info</a>
                                </figcaption>
                            </figure>                               
                        </div>
                        <div class="slide-meta">                            
                            <h3>Usamos este titulo igual para navegadores viejos?</h3>
                        </div>                    
                </div>      

                <!-- ////////////////////////////////////////////////// -->


                <div class="slider-item">
                        <div class="slider-img-wrapper efecto-figcaption">                            
                            <figure>
                                <img src="http://themarklee.com/wp-content/uploads/2013/12/starlight.jpg" alt="img01">
                                <figcaption>
                                    <h4>Un super laburo</h4>
                                    <span>Lorem ipsum</span>
                                    <a href="http://google.com.ar" target="_blank">+ info</a>
                                </figcaption>
                            </figure>                               
                        </div>
                        <div class="slide-meta">                            
                            <h3>Usamos este titulo igual para navegadores viejos?</h3>
                        </div>                    
                </div>      

                <!-- ////////////////////////////////////////////////// -->


                <div class="slider-item">
                        <div class="slider-img-wrapper efecto-figcaption">                            
                            <figure>
                                <img src="http://themarklee.com/wp-content/uploads/2013/12/starlight.jpg" alt="img01">
                                <figcaption>
                                    <h4>Un super laburo</h4>
                                    <span>Lorem ipsum</span>
                                    <a href="http://google.com.ar" target="_blank">+ info</a>
                                </figcaption>
                            </figure>                               
                        </div>
                        <div class="slide-meta">                            
                            <h3>Usamos este titulo igual para navegadores viejos?</h3>
                        </div>
                </div>
                


            </div> <!-- Work slider -->

        </div> <!-- Work container -->

    </section>
</div>




<!--

                <figure>
                    <img src="http://themarklee.com/wp-content/uploads/2013/12/snowying.jpg"/><figcaption>"Snowying" by <a href="http://www.flickr.com/photos/fiddleoak/8511209344/">fiddleoak</a>.</figcaption>
                </figure>
                <figure>
                    <img src="http://themarklee.com/wp-content/uploads/2013/12/starlight.jpg"/><figcaption>"Starlight" by <a href="http://www.flickr.com/photos/chaoticmind75/10738494123/in/set-72157626146319517">ChaoticMind75</a>.</figcaption>
                </figure>
                <figure>
                    <img src="http://themarklee.com/wp-content/uploads/2013/12/snowstorm.jpg"/><figcaption>"Snowstorm" by <a href="http://www.flickr.com/photos/tylerbeaulawrence/8539457508/">Beaulawrence</a>.</figcaption>
                </figure>
                <figure>
                    <img src="http://themarklee.com/wp-content/uploads/2013/12/misty-winter-afternoon.jpg"/><figcaption>"Misty winter afternoon" by <a href="http://www.flickr.com/photos/22746515@N02/5277611659/">Bert Kaufmann</a>.</figcaption>
                </figure>
                <figure>
                    <img src="http://themarklee.com/wp-content/uploads/2013/12/good-morning.jpg"/><figcaption>"Good Morning!" by <a href="http://www.flickr.com/photos/frank_wuestefeld/4306107546/">Frank Wuestefeld</a>.</figcaption>
                </figure>
            </div>
             // bss-slides -->
