{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PatagonianTech</title>
  <link rel="stylesheet" href="{{root}}assets/css/app.css" />
  <link rel="shortcut icon" type="image/ico" href="{{root}}assets/img/favicon.ico" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
  <script src="/vendor/js/jquery.js"></script>


</head>
<body>

  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}

  {{> nav}}
  {{> body}}
  {{> footer}}

  <script src="/bundle.js"></script>
</body>
</html>
